*{
    box-sizing: border-box;
}

:root{
    --main-color: #ff1f1fd6;
    --main-color-alt: #1787E0;
    --main-transition-duration: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ECECEC;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Cairo", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container{
        width: 750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.header-home-page{
    margin:100px auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    cursor: default;
    transition: var(--main-transition-duration);
}
.header-home-page:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 5px 40px;
}
/* Start NavBar */
.navbar-home-page{
    background-color: var(--main-color);
}
.navbar-home-page .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-home-page .container .logo-home-page{
    width: 130px;
}
.navbar-home-page .container .logo-home-page img{
    max-width: 100%;
}
.navbar-home-page .container .links-home-page ul{
    width:60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-home-page .container .links-home-page ul li a{
    color: rgba(255, 255, 255, 0.808);
    font-size: 20px;
    font-weight: bold;
    transition: var(--main-transition-duration);
}
.navbar-home-page .container .links-home-page ul li a:hover{
    color: white;
}
@media (max-width:699px) {
    .navbar-home-page .container .logo-home-page{
        display: none;
        padding: 0;
    }
    .navbar-home-page .container .links-home-page{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar-home-page .container .links-home-page ul{
        width: 90vw;
        justify-content: space-between;  
    }
    .navbar-home-page .container .links-home-page ul li a{
        font-size: 15px;  
    }
}
/* End NavBar */
/* Start Landing */
.landing-home-page{
    background-color: var(--section-background);
}
.landing-home-page .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-home-page .container .image{
    margin-top: 50px;
}
.landing-home-page .container .image img{
    width: 100%;
    padding-left: 50px;
}
@media (max-width:767px) {
    .landing-home-page .container .image img{
        display: none;
    }
}
.landing-home-page .container .text{
    max-width: 50%;
    background-color: var(--main-color);
    height: 50vh;
    margin-top: 43px;
}
@media (max-width:767px){
    .landing-home-page .container .text{
        min-height: 100%;
        min-width: 100%;
        
    }
}
.landing-home-page .container .text h2{
    text-align: center;
    color: var(--section-background);
    text-transform: uppercase;
}
@media (max-width:767px){
    .landing-home-page .container .text h2{
        font-size: 30px;
    }
}
.landing-home-page .container .text p{
    text-align: center;
    color: var(--section-background);
    text-transform: capitalize;
    line-height: 2;
    letter-spacing: 2px;
    margin: 80px 0 0 0;
}
@media (max-width:399px){
    .landing-home-page .container .text p{
        height: 100%;
        margin-top: 10px;
        line-height: 1.5;
    }
}
/* End Landing */
/* Start reviwes */
.reviews-home-page{
    margin: 0 auto;
    background: rgb(255, 255, 255);
    width: 80vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:767px){
    .reviews-home-page{
        flex-direction: column;
    }
}
.reviews-home-page .reviews-box{
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--main-transition-duration);
}
@media(max-width:767px){
    .reviews-home-page .reviews-box{
        width: 100%;
    }
}
.reviews-home-page .reviews-box:hover{
    background-color: #ff1f1f7e;
}
.reviews-home-page .reviews-box .reviews-image{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reviews-home-page .reviews-box .reviews-image img{
    width: 40px;
    
}
/* End reviwes */
/* Start Order */
.order-home-page{
    padding: 10px 30px;
    margin: 0 auto;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    background-color: var(--section-background);
}
@media (max-width:991px){
    .order-home-page{
        flex-direction: column;
        align-items: center;
    }
}
.order-home-page::before,
.order-home-page::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 25px;
    position: relative;
    transform: translateY(25%);
    
}

@media (max-width:991px){
    .order-home-page::before,
    .order-home-page::after{
        display: none;
    }
}
.order-home-page::before{
    content: "\f104";
}
.order-home-page::after{
    content: "\f105";
}
.order-home-page .order-image{
    max-width: 100%;
}
.order-home-page img{
    height: 200px;
    width: 200px;
    border: 1px solid var(--main-color);
}
@media (max-width:991px){
    .order-home-page img{
        margin-top: 25px;
    } 
}
.order-home-page .order-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order-home-page .order-info span{
    padding: 5px 10px; 
    margin: 15px 0;
    font-size: 25px;
    background-color: var(--main-color);
    border-radius: 20px;
    transition: var(--main-transition-duration);
}
.order-home-page .order-info span:hover{
    cursor: default;
    border: 1px solid var(--main-color);
    background-color: var(--section-background);
}
.order-home-page .order-info i:hover{
    color: var(--main-color);
    cursor: default;
}
.order-home-page .order-info i{
    font-size: 18px;
}
/* End Order */
/* Start Contact Us */
.contact-home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-home-page p{
    font-size: 22px;
    font-weight: bold;
}
.contact-home-page input[type="text"]{
    padding: 5px;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}
textarea{
    border: 1px solid #bdbdbd;
    padding: 10px;
    margin:30px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    outline: none;
}
@media (max-width:599px){
    textarea{
        width: 80%;
    }
}
.contact-home-page input[type="submit"]{
    padding: 8px 15px;
    width: 80px;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}
.contact-home-page input[type="submit"]:hover{
    background-color: red;
}
/* End Contact Us */
/* Start Footer Us */
.footer-home-page{
    background-color: var(--main-color);
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-home-page .logo img{
    width: 250px;
}
.footer-home-page .links-footer-home-page ul li a{
    color: rgba(255, 255, 255, 0.776);
    transition: var(--main-transition-duration);
    font-weight: bold;
    font-size: 19px;
}
.footer-home-page .links-footer-home-page ul li a:hover{
    color: white;
    padding-left: 5px;
}
.footer-home-page .icons-home-page{
    transform: translateX(7%)
}
.footer-home-page .icons-home-page ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-home-page .icons-home-page i{
    font-size: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
}
.footer-home-page .icons-home-page i:hover{
    background-color: white;
    color: var(--main-color);
}
.footer-home-page p{
    font-size: 20px;
    position: relative;
}
.footer-home-page p span{
    font-weight: bold;
}
.footer-home-page p::before{
    content: "";
    width: 100vw;
    border-top: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27px);
}
/* Start Footer Us */